<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form TO DO LIST
    </ion-title>
    <ion-button slot="end" color="success" shape="round" *ngIf="arrTask.length > 0" (click)='taskpage()'> 
      <ion-icon name="return-up-forward-outline"> tasks </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" validate>

      <ion-item lines="full">
        <ion-label position="floating">Name:</ion-label>
        <ion-input formControlName="name" type="text" ></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.minlength">
        Min 3 chars long.
      </span>

      <ion-item lines="full">
        <ion-label position="floating">Task:</ion-label>
        <ion-input formControlName="tasks" type="text" ></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.required">
        Task is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.minlength">
        Min 3 chars long.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.name.errors?.minlength && errorCtr.name.errors?.maxlength">
        Min 3 chars long.
      </span>

      <ion-row>
        <ion-col>
          <ion-button class="ion-padding" type="submit" shape="round" color="success" expand="block">Add task</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-card>
</ion-content>
